@font-face {
    font-family: 'Merriweather';
    src: url(../../fonts/Merriweather/Merriweather-Black.ttf);
}

@font-face {
    font-family: 'Istok Web';
    src: url(../../fonts/Istok_Web/IstokWeb-Regular.ttf);
}