#a-propos{
    height: 700px;
    color: white;
    background-color: rgb(215, 215, 215);
    display: flex;
    align-items: center;

    .section-background{
        width: 1280px;
        margin: 0 auto;
        background-color: rgb(215, 215, 215);
        color: black;
    }

    .section-title{
        font-size: 45px;
        margin-bottom: 25px;
    }

    .container{
        font-size: 22px;
        display: flex;
        align-items: center;
        
        gap: 50px;

        img{
            width: 600px;
            height: 500px;
        }

        .textes{
            width: 700px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: justify;
            font-family: 'Istok Web', sans-serif;

            .apprentissage{
                font-style: italic;
                color: rgb(136, 136, 136);
            }

            .logo-container{
                display: flex;
                gap: 45px;

                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}