header{
    background-color: #0e1116;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid white;
    overflow-x: hidden;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 80%;
    margin: 0 auto;

    .header-nav-logo{
        color: rgb(91, 255, 168);
        font-size: $header-logo-xl;
        font-family: 'Chonburi', cursive;
    }

    ul{
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        width: 700px;

        .header-item{
            position: relative;
            font-family: "Open Sans", sans-serif;


            &:after{
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                display: block;
                transition: all 0.3s ease;
                bottom: -5px;
            }

            &:hover::after{
                width: 100%;
                height: 2px;
                background-color: #fff;
            }

            a{
                color: white;
            }

            
        }

        .btn-cv{
            background-color: rgb(91, 255, 168);
            border-radius: 15px;
            padding: 5px 10px;

            &:hover{
                background-color: rgb(34, 253, 137);
            }
        }
    }
}

.toggle {
  display: none;
  width: 50px;
}

@media all and (max-width: 991px) {

  header {
    position: sticky;
    padding: 0 5%;
    height: 80px;

      .header-nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    
        .toggle {
            display: block;
            font-size: 2rem;
            cursor: pointer;
            position: relative;
            z-index: 20;
        }

        ul{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: #000;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            justify-content: space-around;
            transform: translateX(-100%);
            transition: transform 1s;
        }
    }

    .header-nav-logo {
        position: relative;
        z-index: 20;
    }
  }


  .ouvrir {
      display: block;
  }

  .fermer {
      display: none;
  }

  .open .ouvrir {
      display: none;
  }

  .open .fermer {
      display: block;
  }

  .menu li a {
      font-size: 2rem;
  }

  .btn {
      font-size: 2rem;
  }

  .open .menu {
      transform: translateX(0);
  }
}