#landing-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    // width: 100vw;
    margin: auto; 

    h1{
        font-size: 5.5rem;
        background-image: linear-gradient(90deg, rgba(91,255,168,1) 0%, rgba(91,255,215,1) 20%, rgba(175,255,212,1) 43%, rgba(187,255,219,1) 47%, rgba(48,255,180,1) 67%, rgba(91,255,168,1) 88%);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 3s ease infinite;
        font-weight: bold;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    h2{
        font-size: 2.5rem;
        color: #5bffa8;
        margin-top: 5px;
    }

    .btn-decouvre{
        width: 200px;
        padding: 10px;
        text-align: center;
        border: 1px solid white;
        color: #fff;
        margin-top: 40px;
        font-size: 20px;
        overflow: hidden;
        transition: .5s;
        position: relative;
        display: inline-block;

        &:hover {
          box-shadow: 0 0 40px 40px rgb(82, 255, 160) inset;
          color: black;
        }

        span{
            position: absolute;
            display: block;
            
            &:nth-child(1){
                top: 0;
                left: -100%;
                width: 100%;
                height: 4px;
                background: linear-gradient(360deg, transparent, rgba(91,255,168,1));
                animation: btn-anim1 1s linear infinite;
            }

            &:nth-child(2){
                top: -100%;
                right: 0;
                width: 4px;
                height: 100%;
                background: linear-gradient(360deg, transparent, rgba(91,255,168,1));
                animation: btn-anim2 1s linear infinite;
                animation-delay: .25s
            }

            &:nth-child(3){
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 4px;
                background: linear-gradient(360deg, transparent, rgba(91,255,168,1));
                animation: btn-anim3 1s linear infinite;
                animation-delay: .5s
            }

            &:nth-child(4){
                bottom: -100%;
                left: 0;
                width: 4px;
                height: 100%;
                background: linear-gradient(360deg, transparent, rgba(91,255,168,1));
                animation: btn-anim4 1s linear infinite;
                animation-delay: .75s
            }

        }


    }

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 

    li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 4s linear infinite;
        bottom: -150px;

        &:nth-child(1){
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
          }

        &:nth-child(2){
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 8s;
        }

        &:nth-child(3){
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        &:nth-child(4){
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 8s;
        }

        &:nth-child(5){
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        &:nth-child(6){
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        &:nth-child(7){
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 5s;
        }

        &:nth-child(8){
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 8s;
            animation-duration: 8s;
        }

        &:nth-child(9){
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 8s;
        }

        &:nth-child(10){
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 8s;
        }

        &:nth-child(11){
            left: 5%;
            width: 150px;
            height: 150px;
            animation-delay: 2s;
            animation-duration: 6s;
            background: rgba(255, 255, 255, 0.2);

        }
    }

    @keyframes animate {
    
      0%{
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
      }
    
      100%{
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
      }
    
    }
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

@media screen and (max-width: 780px) {
  #landing-page{
    h1{
      font-size: calc(88 * $test);
    }
    h2{
      font-size: calc(40 * $test);
    }

    .btn-decouvre{
      width: 100%;
      font-size: calc(22 * $test);
    }
  }
}
