#projets{
    background-color: white;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vw;
    
    .section-background{
        width: 1280px;
        margin: 0 auto;
        color: black;
        text-align: center;
    }
    
    .section-title{
        font-size: 45px;
        margin: 50px 0;
        color: rgb(0, 0, 0);
        text-align: left;
        font-family: 'Ubuntu', sans-serif;

    }
}

.projet-recent{
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: #373a55;
    padding: 25px;
    border-radius: 20px ;
    
    img{
        width: 500px;
        height: 300px;
        
    }
    
    .projet-recent-content{
        text-align: justify;
        font-size: 22px;
        
        .latest-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Ubuntu', sans-serif;

            
            h4{
                font-weight: bold;
                font-size: 45px;
                color: white;
                text-align: left;
            }
            
            span{
                color: #000000;
                font-size: 20px;
                font-weight: bold;
            }
        }
        
        img{
            width: 27px;
            height: 27px;
        }
        
        p{
            margin: 20px 0px 35px 0px;
            color: white;
            font-family: Open Sans, sans-serif;

        }
        
        .projet-languages{
            color: rgb(91, 255, 168);
            display: flex;
            gap: 25px;
            font-family: Open Sans, sans-serif;

        }
        
        .projet-redirections{
            display: flex;
            justify-content: flex-end;
            gap: 25px;
            margin-top: 35px;
        }
    }
}

.projets-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    
    .projet{
        width: 410px;
        height: 350px;
        background-color: #373a55;
        margin-bottom: 27px;
        border-radius: 5px;
        padding: 25px;
        position: relative;
        
        &:hover{
            .projet-header{
                div{
                    a{
                        img{
                            transform: scale(1.3);
                            transition: 0.1s ease;
                            
                        }
                    }
                }
            }
        }
        
        .projet-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                width: 40px;
                height: 40px;
            }

            div{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .projet-body{
            text-align: left;
            margin-top: 25px;

            h5{
                font-size: 24px;
                color: #e0e7ff;
                font-weight: bold;
                font-family: 'Ubuntu', sans-serif;
            }

            p{
                margin-top: 15px;
                font-size: 16px;
                color: #b9c5ff;
                font-weight: 500;
                font-family: Open Sans, sans-serif;
                text-align: left;
                line-height: 27px;
            }
        }

        .projet-footer{
            text-align: left;
            margin-top: 32px;
            position: absolute;
            bottom: 40px;
            display: flex;
            gap: 30px;
            color: #5bffa8;
            font-family: Open Sans, sans-serif;

        }
    }
}



@media screen and (max-width: 1300px) {
    .projet-recent{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        img {
            width: 100%;
            height: 450px;
        }

        .projet-recent-content{
            .latest-title{
                h4{
                    font-size: 45px;
                }

                span{
                    font-size: 20px;
                }
            }

            p{
                font-size: 20px;
            }

            .projet-languages{
                font-size: 18px;
            }
        }
    }
    .projets-container{
        width: 100%;
        justify-content: space-around;
        margin: 70px auto 0 auto;

        .projet{
            height: 435px;
            width: 30%;
        }
    }}

@media screen and (max-width: 1140px) {
    .projet-recent{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        img {
            width: 100%;
            height: 450px;
        }

        .projet-recent-content{
            .latest-title{
                h4{
                    font-size: 45px;
                }

                span{
                    font-size: 20px;
                }
            }

            p{
                font-size: 20px;
            }

            .projet-languages{
                font-size: 18px;
            }
        }
    }

    .projets-container{
        width: 100%;
        justify-content: space-around;
        margin: 70px auto 0 auto;

        .projet{
            height: 435px;
            width: 28%;
        }
    }
}

@media screen and (max-width: 992px) {

    .projet-recent{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        img {
            width: 100%;
            height: 400px;
        }

        .projet-recent-content{
            .latest-title{
                h4{
                    font-size: 32px;
                }

                span{
                    font-size: 19px;
                }
            }

            p{
                font-size: 20px;
            }

            .projet-languages{
                font-size: 18px;
            }
        }
    }
    .projets-container{
        width: 100%;
        justify-content: space-around;
        margin: 70px auto 0 auto;

        .projet{
            height: 435px;
            width: 45%;
        }
    }

}

@media screen and (max-width: 800px) {
    .projets-container{
        width: 100%;
        justify-content: space-around;
        margin: 70px auto 0 auto;

        .projet{
            height: 435px;
            width: 45%;
        }
    }
}



@media screen and (max-width: 768px) {
    .projet-recent{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        img {
            width: 100%;
            height: 300px;
        }

        .projet-recent-content{
            .latest-title{
                h4{
                    font-size: 25px;
                }

                span{
                    font-size: 18px;
                }
            }

            p{
                font-size: 19px;
            }

            .projet-languages{
                font-size: 16px;
            }
        }
    }

    .projets-container{
        width: 100%;
        justify-content: space-around;
        margin: 70px auto 0 auto;

        .projet{
            height: 450px;
            width: 45%;
        }
    }
}

@media screen and (max-width: 576px) {
    .section-title{
        font-size: calc(43 * $test);
        margin: 10% 0 0 5%;
    }
    
    .projet-recent{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        img {
            width: 100%;
        }

        .projet-recent-content{
            .latest-title{
                h4{
                    font-size: 28px;
                }

                span{
                    font-size: 20px;
                }
            }

            p{
                font-size: 15px;
            }

            .projet-languages{
                font-size: 14px;
            }
        }
    }

    .projets-container{
        width: 100%;
        justify-content: space-around;
        margin: 70px auto 0 auto;

        .projet{
            height: 400px;
            width: 90%;
        }
    }
}


