/* Utils */
@import './utils/reset.css';
/* Base */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
body {
  background-color: #0e1116;
  margin: 0 auto;
}

main {
  margin: auto;
} /* Components */
header {
  background-color: #0e1116;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid white;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 1280px;
  margin: 0 auto;
}
.header-nav .header-nav-logo {
  color: rgb(91, 255, 168);
  font-size: 2.4rem;
  font-family: "Chonburi", cursive;
}
.header-nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  width: 700px;
}
.header-nav ul .header-item {
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.header-nav ul .header-item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.3s ease;
  bottom: -5px;
}
.header-nav ul .header-item:hover::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.header-nav ul .header-item a {
  color: white;
}
.header-nav ul .btn-cv {
  background-color: rgb(91, 255, 168);
  border-radius: 15px;
  padding: 5px 10px;
}

#landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}
#landing-page h1 {
  font-size: 5.5rem;
  background-image: linear-gradient(90deg, rgb(91, 255, 168) 0%, rgb(91, 255, 215) 20%, rgb(175, 255, 212) 43%, rgb(187, 255, 219) 47%, rgb(48, 255, 180) 67%, rgb(91, 255, 168) 88%);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s ease infinite;
  font-weight: bold;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#landing-page h2 {
  font-size: 2.5rem;
  color: #5bffa8;
  margin-top: 5px;
}
#landing-page .btn-decouvre {
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  color: #fff;
  margin-top: 40px;
  font-size: 20px;
  overflow: hidden;
  transition: 0.5s;
  position: relative;
  display: inline-block;
}
#landing-page .btn-decouvre:hover {
  box-shadow: 0 0 40px 40px rgb(82, 255, 160) inset;
  color: black;
}
#landing-page .btn-decouvre span {
  position: absolute;
  display: block;
}
#landing-page .btn-decouvre span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(360deg, transparent, rgb(91, 255, 168));
  animation: btn-anim1 1s linear infinite;
}
#landing-page .btn-decouvre span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(91, 255, 168));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
#landing-page .btn-decouvre span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(360deg, transparent, rgb(91, 255, 168));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
#landing-page .btn-decouvre span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(91, 255, 168));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 4s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 8s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 8s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 5s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 8s;
  animation-duration: 8s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 8s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 8s;
}
.circles li:nth-child(11) {
  left: 5%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 6s;
  background: rgba(255, 255, 255, 0.2);
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
#a-propos {
  height: 700px;
  color: white;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
#a-propos .section-background {
  width: 1280px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: black;
}
#a-propos .section-title {
  font-size: 45px;
  margin-bottom: 25px;
}
#a-propos .container {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 50px;
}
#a-propos .container img {
  width: 600px;
  height: 500px;
}
#a-propos .container .textes {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  font-family: "Istok Web", sans-serif;
}
#a-propos .container .textes .apprentissage {
  font-style: italic;
  color: rgb(136, 136, 136);
}
#a-propos .container .textes .logo-container {
  display: flex;
  gap: 45px;
}
#a-propos .container .textes .logo-container img {
  width: 50px;
  height: 50px;
}

#competences {
  background-color: #0e1116;
  height: 700px;
  display: flex;
  align-items: center;
}
#competences .section-background {
  width: 1280px;
  margin: 0 auto;
}
#competences .section-background .section-title {
  text-align: center;
  font-size: 45px;
  margin-bottom: 35px;
  position: relative;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
#competences .section-background .container {
  display: flex;
  justify-content: space-around;
  gap: 35px;
}

.technologies, .webdesign, .autres {
  background-color: #373a55;
  font-family: "Istok Web";
  border-radius: 12px;
  padding: 15px 0;
}
.technologies h3, .webdesign h3, .autres h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  color: rgb(91, 255, 168);
}

.technologies {
  width: 500px;
}
.technologies .item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.technologies .item-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.technologies .item-container img {
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.webdesign .item-container, .autres .item-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.webdesign .item-container li, .autres .item-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.webdesign .item-container img, .autres .item-container img {
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

#projets {
  background-color: white;
  display: flex;
  align-items: center;
  height: 1350px;
}
#projets .section-background {
  width: 1280px;
  margin: 0 auto;
  color: black;
  text-align: center;
}
#projets .section-title {
  font-size: 45px;
  margin: 50px 0;
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: "Ubuntu", sans-serif;
}

.projet-recent {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: #373a55;
  padding: 25px;
  border-radius: 20px;
}
.projet-recent img {
  width: 500px;
  height: 300px;
}
.projet-recent .projet-recent-content {
  text-align: justify;
  font-size: 22px;
}
.projet-recent .projet-recent-content .latest-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}
.projet-recent .projet-recent-content .latest-title h4 {
  font-weight: bold;
  font-size: 45px;
  color: white;
  text-align: left;
}
.projet-recent .projet-recent-content .latest-title span {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.projet-recent .projet-recent-content img {
  width: 27px;
  height: 27px;
}
.projet-recent .projet-recent-content p {
  margin: 20px 0px 35px 0px;
  color: white;
  font-family: Open Sans, sans-serif;
}
.projet-recent .projet-recent-content .projet-languages {
  color: rgb(91, 255, 168);
  display: flex;
  gap: 25px;
  font-family: Open Sans, sans-serif;
}
.projet-recent .projet-recent-content .projet-redirections {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 35px;
}

.projets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}
.projets-container .projet {
  width: 410px;
  height: 350px;
  background-color: #373a55;
  margin-bottom: 27px;
  border-radius: 5px;
  padding: 25px;
  position: relative;
}
.projets-container .projet .projet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projets-container .projet .projet-header img {
  width: 40px;
  height: 40px;
}
.projets-container .projet .projet-header div img {
  width: 25px;
  height: 25px;
}
.projets-container .projet .projet-body {
  text-align: left;
  margin-top: 25px;
}
.projets-container .projet .projet-body h5 {
  font-size: 24px;
  color: #e0e7ff;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.projets-container .projet .projet-body p {
  margin-top: 15px;
  font-size: 16px;
  color: #b9c5ff;
  font-weight: 500;
  font-family: Open Sans, sans-serif;
  text-align: left;
  line-height: 27px;
}
.projets-container .projet .projet-footer {
  text-align: left;
  margin-top: 32px;
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 30px;
  color: #5bffa8;
  font-family: Open Sans, sans-serif;
}

#contact {
  height: 800px;
  font-family: "Ubuntu", sans-serif;
}
#contact .section-background {
  width: 1280px;
  margin: 0 auto;
  color: black;
  text-align: center;
}
#contact .section-title {
  font-size: 45px;
  margin: 50px 0;
  color: white;
}
#contact .container h3 {
  color: white;
  font-size: 28px;
}

form {
  width: 1000px;
  margin: 100px auto;
}
form .form-nom-prenom {
  display: flex;
  gap: 25px;
}
form .form-text {
  color: white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 3px solid rgb(91, 255, 168);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
form .form-text:focus {
  border: 4px solid rgb(68, 186, 123);
  transform: scale(1.02);
}
form textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
form .form-btn {
  width: 100%;
  padding: 15px;
  background-color: rgb(91, 255, 168);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 20px;
  border-top: solid 1px white;
}
footer p {
  color: white;
}
footer p span {
  color: rgb(91, 255, 168);
}

/*# sourceMappingURL=style.css.map */
